### Lab 7: Sistema de Recomendacion

In [65]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import json

%matplotlib inline

In [66]:
def cost(Y, X, T):
    return(((X @ T.T - Y) ** 2) * ((Y != 0) * 1)).sum()


def gradient(Y, X, T):
    R = (Y != 0) * 1
    hip_error = (X @ T.T - Y) * R

    return (
        hip_error @ T,
        hip_error.T @ X,
    )


def adam(
        Y,
        Xo,
        To,
        fun,
        jac,
        alpha=0.001,
        beta1=0.9,
        beta2=0.999,
        epsilon=0.0000001,
        max_iter=1000
):
    xm = cp.zeros(Xo.shape)
    tm = cp.zeros(To.shape)

    xv = cp.zeros(Xo.shape)
    tv = cp.zeros(To.shape)

    X, T, t = Xo, To, 0

    while t < max_iter:
        t += 1

        xg, tg = jac(Y, X, T)

        print(f'{t} \t loss={fun(Y, X, T).item():,.2f}')

        xm = beta1 * xm + (1 - beta1) * xg
        tm = beta1 * tm + (1 - beta1) * tg

        xv = beta2 * xv + (1 - beta2) * xg * xg
        tv = beta2 * tv + (1 - beta2) * tg * tg

        xmh = xm / (1 - beta1 ** t)
        tmh = tm / (1 - beta1 ** t)

        xvh = xv / (1 - beta2 ** t)
        tvh = tv / (1 - beta2 ** t)

        X -= alpha * xmh / (cp.sqrt(xvh) + epsilon)
        T -= alpha * tmh / (cp.sqrt(tvh) + epsilon)

    return X, T

### Datasets

In [67]:
ratings = pd.read_csv("ratings_small.csv")
movies = pd.read_csv("movies_metadata.csv")
links = pd.read_csv("links_small.csv")

print(ratings.shape, movies.shape, links.shape)

(100004, 4) (45466, 24) (9125, 3)

/Users/raulcastellanos/Desktop/Universidad/S7/MLModels/venvMLM/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Descripcion de los datasets

In [68]:
print("Dataset Ratings")
print("\n")
print(ratings.dtypes)
print("\n")
print("Movies Ratings")
print("\n")
print(movies.dtypes)
print("\n")
print("Links")
print("\n")
print(links.dtypes)

Dataset Ratings


userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object


Movies Ratings


adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object


Links


movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [69]:
print(ratings.head)

<bound method NDFrame.head of         userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]>

In [70]:
print(movies.head)

<bound method NDFrame.head of        adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
...      ...                                                ...       ...
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                      [{'id': 18, 'name': 'Drama'}]
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                 []
45465                                                 []

                                   homepage      id    imdb_id  \
0      http://toystory.disney.com/toy-story     862  tt0114709
1                                       NaN    8844  tt0113497
2                                       NaN   15602  tt0113228
3                                       NaN   31357  tt0114885
4                                       NaN   11862  tt0113041
...                                     ...     ...        ...
45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                   NaN  111109  tt2028550
45463                                   NaN   67758  tt0303758
45464                                   NaN  227506  tt0008536
45465                                   NaN  461257  tt6980792

      original_language               original_title  \
0                    en                    Toy Story
1                    en                      Jumanji
2                    en             Grumpier Old Men
3                    en            Waiting to Exhale
4                    en  Father of the Bride Part II
...                 ...                          ...
45461                fa                      رگ خواب
45462                tl          Siglo ng Pagluluwal
45463                en                     Betrayal
45464                en          Satana likuyushchiy
45465                en                     Queerama

                                                overview  ... release_date  \
0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
2      A family wedding reignites the ancient feud be...  ...   1995-12-22
3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4      Just when George Banks has recovered from his ...  ...   1995-02-10
...                                                  ...  ...          ...
45461        Rising and falling between a man and woman.  ...          NaN
45462  An artist struggles to finish his work while a...  ...   2011-11-17
45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
45464  In a small town live two brothers, one a minis...  ...   1917-10-21
45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

           revenue runtime                                   spoken_languages  \
0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
...            ...     ...                                                ...
45461          0.0    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462          0.0   360.0                  [{'iso_639_1': 'tl', 'name': ''}]
45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
45464          0.0    87.0                                                 []
45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

         status                                            tagline  \
0      Released                                                NaN
1      Released          Roll the dice and unleash the excitement!
2      Released  Still Yelling. Still Fighting. Still Ready for...
3      Released  Friends are the people who let you be yourself...
4      Released  Just When His World Is Back To Normal... He's ...
...         ...                                                ...
45461  Released         Rising and falling between a man and woman
45462  Released                                                NaN
45463  Released                             A deadly game of wits.
45464  Released                                                NaN
45465  Released                                                NaN

                             title  video vote_average vote_count
0                        Toy Story  False          7.7     5415.0
1                          Jumanji  False          6.9     2413.0
2                 Grumpier Old Men  False          6.5       92.0
3                Waiting to Exhale  False          6.1       34.0
4      Father of the Bride Part II  False          5.7      173.0
...                            ...    ...          ...        ...
45461                       Subdue  False          4.0        1.0
45462          Century of Birthing  False          9.0        3.0
45463                     Betrayal  False          3.8        6.0
45464             Satan Triumphant  False          0.0        0.0
45465                     Queerama  False          0.0        0.0

[45466 rows x 24 columns]>

In [71]:
print(links.head)

<bound method NDFrame.head of       movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]>

### Datos en la columna de 'Genres' como JSon

para la limpieza utilicé este link como referencia
https://towardsdatascience.com/cleaning-and-extracting-json-from-pandas-dataframes-f0c15f93cb38
github
https://github.com/mpHarm88/projects/tree/master/json

In [72]:
movies['genres'] = movies['genres'].str.replace("\'","\"")
jgenres = ["genres"]

def new_json(x):
    return json.loads(x)

for x in jgenres:
    movies[x] = movies[x].apply(new_json)

    
def new_json2(x):

    ls = []

    for y in range(len(x[0])):

        for k, v in x[0][y].items():
            ls.append(str(k)+ "_" +str(v))
   
    for z in range(len(ls)):

        if ls[z] not in movies.columns:
            movies[ls[z]] = 0
            movies[ls[z]].iloc[x.name] = 1
        else:
            movies[ls[z]].iloc[x.name] = 1
    return

for x in jgenres:
    movies[[x]].apply(new_json2, axis=1)

In [73]:
print(movies.columns)
print(movies["name_Animation"])

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'id_16', 'name_Animation', 'id_35',
       'name_Comedy', 'id_10751', 'name_Family', 'id_12', 'name_Adventure',
       'id_14', 'name_Fantasy', 'id_10749', 'name_Romance', 'id_18',
       'name_Drama', 'id_28', 'name_Action', 'id_80', 'name_Crime', 'id_53',
       'name_Thriller', 'id_27', 'name_Horror', 'id_36', 'name_History',
       'id_878', 'name_Science Fiction', 'id_9648', 'name_Mystery', 'id_10752',
       'name_War', 'id_10769', 'name_Foreign', 'id_10402', 'name_Music',
       'id_99', 'name_Documentary', 'id_37', 'name_Western', 'id_10770',
       'name_TV Movie', 'name_Carousel Productions', 'id_11176',
       'name_Vision View Entertainment', 'id_11602',
       'name_Telescene Film Group Productions', 'id_29812', 'name_Aniplex',
       'id_2883', 'name_GoHands', 'id_7759', 'name_BROSTA TV', 'id_7760',
       'name_Mardock Scramble Production Committee', 'id_7761',
       'name_Sentai Filmworks', 'id_33751', 'name_Odyssey Media', 'id_17161',
       'name_Pulser Productions', 'id_18012', 'name_Rogue State', 'id_18013',
       'name_The Cartel', 'id_23822'],
      dtype='object')
0        1
1        0
2        0
3        0
4        0
        ..
45461    0
45462    0
45463    0
45464    0
45465    0
Name: name_Animation, Length: 45466, dtype: int64

### Generos de interes

In [74]:
# generos de interes
gcols = movies[["genres","name_Animation", "name_Comedy", "name_Science Fiction", "name_Adventure", "name_Fantasy"]]

In [75]:
"""
movies_wide = wcols.melt(id_vars="genres", var_name='Genres', value_name='value')
movies_wide1 = movies_wide[(movies_wide != 0).all(1)]
print(movies_wide, movies_wide.shape, movies.shape)

"""

'\nmovies_wide = wcols.melt(id_vars="genres", var_name=\'Genres\', value_name=\'value\')\nmovies_wide1 = movies_wide[(movies_wide != 0).all(1)]\nprint(movies_wide, movies_wide.shape, movies.shape)\n\n'

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, id_16, name_Animation, id_35, name_Comedy, id_10751, name_Family, id_12, name_Adventure, id_14, name_Fantasy, id_10749, name_Romance, id_18, name_Drama, id_28, name_Action, id_80, name_Crime, id_53, name_Thriller, id_27, name_Horror, id_36, name_History, id_878, name_Science Fiction, id_9648, name_Mystery, id_10752, name_War, id_10769, name_Foreign, id_10402, name_Music, id_99, name_Documentary, id_37, name_Western, id_10770, name_TV Movie, name_Carousel Productions, id_11176, name_Vision View Entertainment, id_11602, name_Telescene Film Group Productions, id_29812, name_Aniplex, id_2883, name_GoHands, id_7759, name_BROSTA TV, id_7760, name_Mardock Scramble Production Committee, id_7761, name_Sentai Filmworks, id_33751, name_Odyssey Media, id_17161, name_Pulser Productions, id_18012, name_Rogue State, id_18013, name_The Cartel, id_23822]
Index: []

[0 rows x 88 columns]